.simple-banner {
  padding: 2em;
}

.discourse-simple-banner-wrap {
  background-image: url(#{$desktop-background});
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 0 auto;
  padding: 2em;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (width <= 700px) {
    background-image: url(#{$mobile-background});
  }

  h3 {
    margin: 0 1em;
  }

  .btn {
    white-space: nowrap;
  }
}
