{{#if isHomepage}}
  <div class="discourse-simple-banner">
    <div class="discourse-simple-banner-wrap">
    <h3>{{theme-i18n "simple_banner_text"}}</h3>
    <a href="{{theme-setting 'button_url'}}" class="btn btn-primary btn-text">
      {{theme-i18n "button_text"}}
    </a>
    </div>
  </div>
{{/if}}